/*modal styling*/
@import "../../../node_modules/bootstrap/scss/bootstrap-utilities.scss";
$brown: #99521F;
$red: #DF4318;
$white: #d3d3d3;

// responsive with mobile first
* {
    margin: 0;
    padding: 0;
}

#containerModals {
    display: grid;
    background-color: $red;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    justify-items: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;

    .boxes { 
        background-color: $white;
        position: relative;
        height: auto;
        width: 80%;
        
        .overlay {
            display: none;
        }

        img {
            height: 100%;
            width: 100%;
        }
    }
}

@include media-breakpoint-up(lg) {
    #containerModals {
        .boxes {
            height: 90%;
            width: 90%;

            .overlay {
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                height: 100%;
                width: 100%;
                color: $brown;
                background-color: $white;
                opacity: .99;
                transition: .5s ease;

                .exploreText {
                    position: absolute;
                    color: $brown;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-decoration: underline;
                }
            }
        }

        .containerone:hover {
            .overlay {
                opacity: 0;
            }
        }
    
        .containertwo:hover {
            .overlay {
                opacity: 0;
            }
        }
    
        .containerthree:hover {
            .overlay {
                opacity: 0;
            }
        }
    }
}