/*define nav bar style*/
$brown: #99521F;
$red: #DF4318;
$white: #d3d3d3;


#containerNav {
    display: flex;

    .navbar {
        width: 100%;
        padding: 0;

        .container-fluid {
            height: 100%;
            flex-direction: row;
            justify-content: flex-start;

            .nav-item {
                padding-left: 5%;
            }
        }
    }
}

#containerNav * {
    background-color: $white;
}