/*Style quotes separators, placeholders, and progress for index main content*/
$brown: #99521F;
$red: #DF4318;
$white: #d3d3d3;

#containerMain {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Fira Sans", serif;
    font-style: italic;
    margin: 5px;

    #loadingTemp {
        margin-left: 2%;
        margin-right: 2%;

        span {
            height: 10px;
        }
    }

    #airQuoteOne {
        align-self: flex-start;
        margin-left: 5%;
        margin-bottom: 0;
        font-size: 7em;
    }

    #quote {
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom: 0;
        font-size: 6em;
    }

    #airQuoteTwo {
        align-self: flex-end;
        margin-right: 5%;
        margin-bottom: 0;
        font-size: 7em;
    }

    #progressButton {
        width: 6em;
        align-self: center;
        padding-bottom: 1em;

        img {
            height: auto;
            width: 100%;
        }
    }

    #progress {
        height: 5px;
        background-color: $white;

        #progressBar {
            width: 0%;
            background-color: $brown;
        }
    }
}