/*Style quotes separators, placeholders, and progress for index main content*/
#containerMain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Fira Sans", serif;
  font-style: italic;
  margin: 5px;
}
#containerMain #loadingTemp {
  margin-left: 2%;
  margin-right: 2%;
}
#containerMain #loadingTemp span {
  height: 10px;
}
#containerMain #airQuoteOne {
  align-self: flex-start;
  margin-left: 5%;
  margin-bottom: 0;
  font-size: 8rem;
}
#containerMain #quote {
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 0;
  font-size: 6rem;
}
#containerMain #airQuoteTwo {
  align-self: flex-end;
  margin-right: 5%;
  margin-bottom: 0;
  font-size: 8rem;
}