/* define general layout systems, positioning etc. */
@import "../../node_modules/bootstrap/scss/bootstrap-utilities.scss";
$brown: #99521F;
$red: #DF4318;
$white: #d3d3d3;

// responsive with mobile first
#containerNav {
    height: 60px;
}

.separators {
    height: 25px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 20px;
}

body {
    background-color: $red;
}

.bodySection {
    background-color: $white;
}

footer {
    // height: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: space-between;
    margin: 0;
    padding: 0;

    #author {
        height: 100%;
        margin-left: 10%;
    }

    #repository {
        height: 100%;
        margin-right: 10%;
    }
}

@include media-breakpoint-up(lg) {
    body {
        height: 100vh;
        width: 100%;
        background-color: $red;
    }
    
    .sectionMain {
        width: 992px;
        display: grid;
        grid-template: 30% 10% 50% 10% / 1fr;
        row-gap: 20px;
        margin: auto;
    }
}