/* define grid systems, containers, positioning etc. */
$brown: #99521F;
$red: #DF4318;
$white: white;

body {
    width: 100%;
    height: 100vh;
}

.parentModals {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}